@model string[][]
@{
    ViewBag.Title = "BootstrapMvc";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Fluent, open-source, extendable packages for simplifying bootstrap markup in your ASP.MVC projects.</p>
</div>

@Bootstrap.Alert(AlertType.SuccessGreen, "It works!").Closable()

