@{
    ViewBag.Title = "Components";
}

@*<div class="row">
    <div class="col-md-8 col-md-push-4">

        @{ Html.RenderPartial("Partial/Alerts"); }

    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-push-4">

        @{ Html.RenderPartial("Partial/Icons"); }

    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-push-4">

        @{ Html.RenderPartial("Partial/Labels"); }

    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-push-4">

        @{ Html.RenderPartial("Partial/Badges"); }

    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-push-4">

        @{ Html.RenderPartial("Partial/Panels"); }

    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-push-4">

        @{ Html.RenderPartial("Partial/Buttons"); }

    </div>
</div>*@